{% extends "base.html" %}
{% load static %}
{% block content %}


<!-- Popular Films Section-->


<div class="container my-5 mt-5  section-top mt-lg-5">
  <!-- Heading -->
  <div class="row mb-3">
    <div class="col-md-12">
        <h2 class="pb-5 text-center"> Popular Films </h2>
    </div>
  </div>

  <!-- Popular Films -->
  <div class="row justify-content-start g-4">
    {% for film in popular_films %}
      {% include 'partials/film_poster_layout.html' with film=film %}
    {% endfor %}
  </div>
</div>
  
<div class="container my-5 section mt-lg-5">
  <!-- Heading -->
  <div class="row mb-3">
    <div class="col-md-12">
        <h2 class="pb-5 text-center"> Coming Soon </h2>
    </div>
  </div>

  <!-- Comming Soon -->
  <div class="row justify-content-start g-4">
    {% for film in coming_soon %}
      {% include 'partials/film_poster_layout.html' with film=film %}
    {% endfor %}
  </div>
</div>


{% if user.is_authenticated %}
{% include "partials/book_section_user.html" %}
{% else %}
  {% include "partials/family_section_guest.html" %}
{% endif %}

{% endblock %}