{% extends "base.html" %}
{% load static %}
{% block content %}
{% block carousel %}{% endblock %}
<section>
  <div class="container mb-5 py-5">
  <form method="post" id="book_seats_form">
    {% csrf_token %}
    <div class="seat-map mb-4">
      <div class="container text-center screen mt-2">
        <h1> Screen </h1>
      </div>
      <h2 class="mb-3 mt-5">Select Your Seats</h2>
      <div class="seats-grid">  
        {% for seat in seats %}
          {% if seat.id in booked_seats %}
            <!-- Booked Seats -->
            <button class="btn btn-secondary m-1 seat booked" disabled>
              {{ seat.row }}{{ seat.number }}
            </button>
          {% else %}
            <!-- Available Seats -->
            <input type="checkbox" name="seats" value="{{ seat.id }}" class="btn-check seat-checkbox" id="seat{{ seat.id }}">
            <label class="btn btn-outline-light m-1 seat" for="seat{{ seat.id }}">
              {{ seat.row }}{{ seat.number }}
            </label>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    <button type="submit" class="btn btn-lg mt-3 custom-btn">Finish Booking</button>
  </form>
  </div>

  <!-- Seat Limit Modal -->
<div class="modal fade" id="seatLimitModal" tabindex="-1" aria-labelledby="seatLimitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning text-dark">
        <h5 class="modal-title" id="seatLimitModalLabel">Seat Limit Reached</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        You can select a maximum of 8 seats only.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

{% include "partials/modal.html" %}

</section>
{% block button %}{% endblock %}

{% endblock %}