{% extends "base.html" %}
{% load static %}

{% block content %}
{% block carousel %}{% endblock %}


<div class="container my-5">
  <div class="row">
    <!-- Booking List -->
    <div class="col-md-8">
      <h2 class="mb-4">Current Bookings</h2>
      <div class="card bg-dark text-white">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for booking in bookings %}
              <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white border-secondary">
                <div class="mx-2">
                  <strong>{{ booking.user.username }}</strong> booked 
                  <span class="text-info">{{ booking.seat }}</span> 
                  for <strong>{{ booking.film_schedule.film.title }}</strong>
                  {% if booking.film_schedule.specific_date and booking.film_schedule.specific_time %}
                    on {{ booking.film_schedule.specific_date }} at {{ booking.film_schedule.specific_time }}
                  {% else %}
                    on {{ booking.film_schedule.get_days_of_week_display }} at {{ booking.film_schedule.slot.start_time }}
                  {% endif %}
                  <small class="d-block text-muted">Booked at: {{ booking.booked_at }}</small>
                </div>
                <div class="col-7 col-md-4 col-lg-4">
                    <a href="{% url 'booking_update' booking.id %}" class="btn btn-sm btn-outline-warning">
                    Edit
                    </a>
                    <a href="{% url 'booking_delete' booking.id %}" class="btn btn-sm btn-outline-danger delete-button">
                        Delete
                    </a>
                </div>
              </li>
            {% empty %}
              <li class="list-group-item bg-dark text-white border-secondary">No bookings available.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}