{% extends "base.html" %}
{% load static %}

{% block content %}
{% block carousel %}{% endblock %}


<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-4">My Bookings</h2>
      <div class="card bg-dark text-white">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for booking in booking_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white border-secondary text-white">
                <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white">
                {{ booking.film_schedule.film.title }} - Seat: {{ booking.seat }}
                {% if booking.film_schedule.specific_date and booking.film_schedule.specific_time %}
                    on {{ booking.film_schedule.specific_date }} at {{ booking.film_schedule.specific_time }}
                  {% else %}
                    on {{ booking.film_schedule.get_days_of_week_display }} at {{ booking.film_schedule.slot.start_time }}
                  {% endif %}
                </li>
        {% empty %}
          <li class="list-group-item bg-dark text-white">You have no bookings.</li>
        {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}