{% load static %}

<footer class="py-5 mt-5">
    <div class="container pt-4 section">
        <div class="row text-center gy-4">

            <!-- Opening Times -->
            <div class="col-12 col-md-4">
                <h4 class="mb-3">Opening Hours</h4>
                <p class="mb-1"> Mon-Fri: 10:00am - 11:00pm
                    Sat-Sun: 9:00am - Midnight
                </p>
            </div>
            <!-- Contact -->
            <div class="col-12 col-md-4">
                <h4 class="mb-3"> Contact Us</h4>
                <p class="mb-1"> <i class="fa-solid fa-phone fa-lg"></i>
                    <a href="tel:+441234567890">01234 567 890 </a> 
                </p>
                <p> <i class="fa-regular fa-envelope fa-lg"></i>
                    <a href="mailto:info@movieportalcinema.com"> info@movieportalcinema.com </a>
                </p>
            </div>
            <!-- Socials  -->
            <div class="col-12 col-md-4">
                <h4 class="mb-3"> Socials </h4>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"> 
                    <i class="fa-brands fa-facebook fa-lg"></i>
                </a> 
                <a href="https://www.instagram.com/" target="_blank" rel="noopener"> 
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </a> 
                <a href="https://x.com/" target="_blank" rel="noopener"> 
                    <i class="fa-brands fa-x-twitter fa-lg"></i>
                </a> 
            </div>
        </div>
            <hr>
        <div class="col-12 text-center pt-2 pb-2">
            <img src="{% static 'images\logo.png' %}" alt="Movie Portal Logo" width="130" height="130">
            <hr>
        </div>
        <div class="col-12">
            © 2025 MoviePortal. All rights reserved.
        </div>
    </div>
</footer>