{% load static %} 

<nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
             <img class="navbar-brand" src="{% static 'images\logo.png' %}" alt="Movie Portal Logo" width="80" height="80">

             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav d-flex justify-content-evenly w-100">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'films' %}">Films</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="">Family</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'menu' %}">Food & Drink </a>
                    </li>
                    {% if user.is_authenticated %}
                     <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'select_film' %}"> Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_logout' %}"> Logout <i class="fa-solid fa-user"></i></a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_login' %}"> Login <i class="fa-solid fa-user"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_signup' %}"> Register <i class="fa-solid fa-user"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>