{% load static %} 
<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <img class="navbar-brand" src="{% static 'images\logo.png' %}" alt="Movie Portal Logo" width="80" height="80">

         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex justify-content-evenly w-100">
                <li class="nav-item">
                    <a class="nav-link active text-white primary-hover" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white primary-hover" href="{% url 'films' %}">Films</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white primary-hover" href="{% url 'family' %}">Family</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white primary-hover" href="{% url 'menu' %}">Food & Drink </a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white primary-hover" href="{% url 'select_film' %}"> Booking</a>
                </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white dark-hover" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="manageDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">Account <i class="fa-solid fa-lock"></i> </a></li>
                        <li><a class="dropdown-item" href="{% url 'user_bookings' %}"> My Bookings <i class="fa-solid fa-book"></i></a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link text-white dark-hover" href="{% url 'account_login' %}"> Login <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white dark-hover" href="{% url 'account_signup' %}"> Register <i class="fas fa-user-plus"></i></a>
                </li>
                {% endif %}
                {% if user.is_staff %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white dark-hover" href="#" id="manageDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Manage
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="manageDropdown">
                        <li><a class="dropdown-item" href="{% url 'films_list' %}">Films <i class="fa-solid fa-film"></i></a></li>
                        <li><a class="dropdown-item" href="{% url 'schedule_list' %}">Schedules <i class="fa-solid fa-calendar-days"></i></a> </li>
                        <li><a class="dropdown-item" href="{% url 'bookings_list' %}">Booking <i class="fa-solid fa-book"></i></a> </li>
                        <li><a class="dropdown-item" href="{% url 'user_list' %}">Users <i class="fa-solid fa-users"></i></a> </li>
                    </ul>
                </li>
                {% endif %}
                
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-white dark-hover" href="{% url 'account_logout' %}">
                        Logout <i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>