
/* Global Styles */

body {
    background-color:black;
    margin: 0 auto; 

}

h1, h2, h3 {
    color: white;
}

.main-bg {
    background-color: #000000;  /* dark color example */
    
}

.navbar-brand {

    font-size: 3rem;
    margin-left: 40px;

}


p {
    color: white;
}


.navbar {
    background-color: #0f0f0f  !important;
     background: linear-gradient(135deg, #0f0f0f, #1a1a2e, #00f0ff);
}



.section {
    padding-top: 100px;
    padding-bottom: 50px;
}



.neon-blue {
    background: linear-gradient(135deg, #0f0f0f, #1a1a2e, #00f0ff);
}


/* Hero carousel index.html */

.carousel-inner,
.carousel-item {
  height: 65vh;
  
}

.carousel-inner {
    height: 85vh !important;
}


.carousel .carousel-item {
  transition: transform 1s ease-out, opacity 1s ease-out;
}



.carousel-img {
  width: 100%;
  height: 45vh;
  object-fit: cover;
  display: block;
 
}

.carousel-control-prev, .carousel-control-next {
    height: 350px;
}


.carousel .carousel-item.active,
.carousel .carousel-item-next,
.carousel .carousel-item-prev { 
    background-color: #000000  !important;
}


.card {
    background-color: #000000;
    border: none;
}


/* Buttons */

.custom-btn {
    background-color: #000000;
    border-color: #00BFFF !important;
}


.btn {
  background-color: #000000 !important;
  color: white !important;
  border: 2px solid ;
  
}


.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
 box-shadow: 
 0 0 30px 0 rgba(0, 191, 255, 0.4), 
 inset 0 0 15px 0 rgba(0, 191, 255, 0.3); 
 text-shadow: 0 0 3px #00BFFF;
 border-color: #00BFFF;
 background-color: transparent;
 color: #00BFFF;

}


