<!-- Schedules -->
 <!-- Heading -->
<div class="container my-5 mt-lg-5">
    <div class="row mb-3">
      <div class="col-md-12">
        <h2 class="pb-5 text-center heading"> Upcoming Shows</h2>
      </div>
    </div>
    <div class="row g-3 mt-4 justify-content-center">
        {% for schedule in film.schedules.all %}
            <div class="col-md-4">
                <div class="card text-center bg-dark text-white border-secondary shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title">
                        {% if schedule.specific_date and schedule.specific_time %}
                            {{ schedule.specific_date }}
                        {% else %}
                            {{ schedule.get_days_of_week_display }}
                        {% endif %}
                        </h3>
                        <p class="card-text">
                            <i class="fa-solid fa-clock"></i> {% if schedule.specific_time %} {{ schedule.specific_time }} {% else %} {{ schedule.slot.start_time }} {% endif %}
                        </p>
                        {% if user.is_staff %}
                            <a href="{% url 'schedule_delete' schedule.id %}" class="btn btn-sm btn-outline-danger delete-button">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <p class="text-center text-white">No schedules available.</p>
            </div>
        {% endfor %}
    </div>
</div>