{% extends "base.html" %}
{% load static %}
{% block content %}
{% block carousel %}{% endblock %}

  <div class="container my-5 section mt-5">
    <div class="row mb-3 justify-content-center">
      
      <!-- Poster -->
      <div class="col-lg-3 col-md-12 mb-4 mb-lg-0 d-flex justify-content-center">
        <div class="card card-poster text-center">
          <h1 class="mb-3 text-center">{{ film.title }}</h1>
          <img src="{{ film.poster.url }}" class="card-img-top" alt="{{ film.title }}">
          {% if not film.is_coming_soon %}
          <a href="{% url 'film_schedules' film.id %}" class=" custom-btn align-self-center mt-3">BOOK NOW</a>
          {% endif %}

          {% if user.is_staff %}
            <div class="d-flex justify-content-center gap-2 mt-3">
              <a href="{% url 'film_update' film.id %}" class="btn btn-warning btn-sm">Edit</a>
              <form method="POST" action="{% url 'film_delete' film.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm delete-button">Delete</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>

      <!-- Description -->
      <div class="col-lg-5 col-md-12 mb-4 mb-lg-0">
        <h2 class="details-heading">Description</h2>
        <p>{{ film.description }}</p>
        <h2 class="details-heading">Cast</h2>
        <p>{{ film.cast }}</p>
      </div>

      <!-- Details -->
      <div class="col-lg-3 col-md-12">
        <h2 class="details-heading"> Runtime</h2>
        <p>{{ film.duration }} mins</p>
        <h2 class="details-heading"> Release Date</h2>
        <p>{{ film.release_date }}</p>
        <h2 class="details-heading"> Genre</h2>
        <p>{{ film.genre }}</p>
      </div>

      {% include "partials/schedule_layout.html" %}

    </div>
  </div>
  
{% endblock %}
