{% extends "base.html" %}
{% load static %}

{% block content %}
{% block carousel %}{% endblock %}

<div class="container my-5">
  <div class="row">
    <!-- Film List -->
    <div class="col-md-8">
  <h2 class="mb-4">Current Films</h2>
  <div class="card bg-dark text-white">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        {% for film in films_list %}
          <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white border-secondary">
            <a href="{% url 'film_detail' film.id %}" class="text-decoration-none text-white mx-2">
              {{ film.title }}
            </a>
            <div class="col-7 col-md-4 col-lg-4">
              <a href="{% url 'film_update' film.id %}" class="btn btn-sm btn-outline-warning me-2">
                Edit
              </a>
              <form method="POST" action="{% url 'film_delete' film.id %}" class="d-inline">
                {% csrf_token %}
                 <button type="submit" class="btn btn-sm btn-outline-danger delete-button"> Delete</button>
              </form>
            </div>
          </li>
          {% empty %}
          <li class="list-group-item bg-dark text-white border-secondary">No films available.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

    <!-- Add Film -->
    <div class="col-md-4">
      <h2 class="mb-4 mt-md-0 mt-4">Add New Film</h2>
      <a href="{% url 'film_create'  %}" class="btn btn-success w-100">
        <i class="fa-solid fa-plus"></i> Add Film
      </a>
    </div>
  </div>
</div>




{% endblock %}