{% extends "base.html" %}
{% load static %}

{% block content %}
{% block carousel %}{% endblock %}

<div class="container my-5">
  <div class="row">
    <!-- Schedules List -->
    <div class="col-md-8">
      <h1 class="mb-4">Current Schedules</h1>
      <div class="card bg-dark text-white">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for schedule in schedule_list %}
              <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white border-secondary">
                <div class="mx-2">
                  <strong>{{ schedule.film.title }}</strong> 
                  {% if schedule.specific_date and schedule.specific_time %}
                    on {{ schedule.specific_date }} at {{ schedule.specific_time }}
                  {% else %}
                    on {{ schedule.get_days_of_week_display }} at {{ schedule.slot.start_time }}
                  {% endif %}
                </div>
                <div class="col-7 col-md-4 col-lg-4">
                  <a href="{% url 'schedule_update' schedule.pk %}" class="btn btn-sm btn-outline-warning me-2">
                    Edit
                  </a>
                  <form method="POST" action="{% url 'schedule_delete' schedule.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-outline-danger delete-button"> Delete</button>
                  </form>
                </div>
              </li>
            {% empty %}
              <li class="list-group-item bg-dark text-white border-secondary">No schedules available.</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Add Schedule -->
    <div class="col-md-4">
      <h2 class="mb-4 mt-md-0 mt-4">Add New Schedule</h2>
      <a href="{% url 'schedule_create' %}" class="btn btn-success w-100">
        <i class="fa-solid fa-plus"></i> Add Schedule
      </a>
    </div>
  </div>
</div>

{% endblock %}
