/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Global Styles */

:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --heading-font: "Barlow Condensed", sans-serif;
    --button-font: "Montserrat", sans-serif;
    /* Colours */
    --colour-primary: #000000;
    --colour-secondary: #1a1a2e ;
    --colour-accent: #00BFFF;

}



body {
    margin: 0 auto; 
    background-color: #000000; /* solid black base */
    background-image:
  linear-gradient(70deg, rgba(43, 39, 39, 0.185) 25%, transparent 5%),
  linear-gradient(-90deg, rgba(5, 5, 5, 0.603) 25%, transparent 5%);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #eee; 

}

h1, h2, h3, h4 {
    color: white;
    font-family: var(--heading-font);
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}


h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}


p {
    font-size: 1rem;
    font-family: var(--main-font);
    color: white;
}


hr {
    color: white;
    
}

a {
    color: white;
    text-decoration: none;
}

.main-bg {
    background-color: #000000;  /* dark color example */
    
}


/* Navbar */

.navbar-brand {

    font-size: 3rem;
    margin-left: 40px;

}



.navbar {
    
    background: linear-gradient(135deg, #0f0f0f, #1a1a2e, #00f0ff);
   
}


.nav-link {
    font-family: "Montserrat", sans-serif;
}


.section {
    padding-top: 100px;
    padding-bottom: 50px;
}



.neon-blue {
    background: linear-gradient(135deg, #0f0f0f, #1a1a2e, #00f0ff);
    
}


/* Hero carousel index.html */

.carousel {
    height: 50vh;
}

.carousel-inner,
.carousel-item {
  height: auto;
}

.carousel-img {
  width: 100%;
  max-height: 50vh;
  min-height: 50vh;
  object-fit: cover;
  display: block;
}


.carousel .carousel-item {
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.carousel-control-prev,
.carousel-control-next {
  height: auto; 

}


.carousel-item .container {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

/* Card Poster */


.card-poster {
    background: none;
    border: 0 !important;
    width: 232px;
    max-width: 100%;

}

.card-poster-hover {
    transition: opacity 0.3s ease, filter 0.3s ease, transform 0.3s ease;
    will-change: transform;
    
}

.card-poster-hover.inactive {
    opacity: 0.8;
    filter: grayscale(0.3);
    transform: scale(0.98);
    will-change: transform, opacity, filter;
}


.card-img-top {
    border-radius: 0px !important; 
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
   
}


/* Buttons  */

.custom-btn {
    background-color: #000000;
    border-color: var(--colour-accent) !important;
}


.btn {
  background-color: var(--colour-primary) !important;
  color: white !important;
  border: 2px solid ;
  font-family: var(--button-font);
}


.custom-btn:hover,
.custom-btn:focus,
.custom-btn:active {
 box-shadow: 
 0 0 30px 0 rgba(0, 191, 255, 0.4), 
 inset 0 0 15px 0 rgba(0, 191, 255, 0.3); 
 text-shadow: 0 0 3px #00BFFF;
 border-color: #00BFFF;
 background-color: transparent;
 color: #ff00ff;

}



/* Booking Form Seats */

.screen {
    border: 2px solid var(--colour-accent);
    border-radius: 0 0 100% 100%;
    box-shadow: 0 15px 30px rgba(255, 255, 255, 0.2);
}

.seats-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-content: center;  
}

.seat {
    text-align: center;
    font-weight: bold;
    border: 1px solid;
}

.btn-check:checked + .seat {
  background-color: var(--colour-accent) !important; 
  color: #ffffff !important;
  border-color: var(--colour-accent) !important;
}

.seat.booked {
    background-color: var(--colour-primary)!important;
    border-color: var(--colour-primary) !important; 
    opacity: 0.6;
}

.seat:hover {
    border-color: var(--colour-accent) !important;
}





/* Footer */

footer {
    background: var(--colour-secondary);
}


/* FontAwesome icons */

.fa-brands {
    font-size: 1.8rem;
    padding: 5px;
    
}


/* Forms */

.form-text {
    color: white;
}


.form-check {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}


.details-heading {
    color: #acb0b6;
}


/* Laptop and below */
@media (max-width: 1024px) {

    .card-poster-hover {
        transform: none;
    }

    .card-poster-hover.inactive {
    opacity: 1;
    filter: none;
    transform: scale(1);
    }
}


/* Tablet and below */
@media (max-width: 768px) {

  .seat {
    font-size: 0.8rem;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    padding: 4px;
  }
}